@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #2b3fff,
    ),
  ),
  $border-radius: (
    'base': 8px,
  ),
  $bg-color: (
    'page': #f5f7fa,
  )
);
@use 'element-plus/theme-chalk/src/index.scss' as *;

@use 'element-plus/theme-chalk/dark/css-vars.css';
/************************ 重置element-plus样式 ************************/
.el-select {
  min-width: 120px;
}
/*** 重置element-plus MessageBox ***/
.el-message-box {
  --el-messagebox-width: 660px;
  --el-messagebox-border-radius: var(--el-border-radius-round);
  --el-messagebox-padding-primary: 32px;
  --el-messagebox-font-line-height: var(--el-font-line-height-primary);
  --el-message-close-size: 20px;
  .el-message-box__header.show-close {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0;
    .el-message-box__headerbtn {
      position: relative;
    }
  }
}
