@import 'tailwindcss';
@plugin "@iconify/tailwind4" {
  prefix: 'icon';
  square: true;
  icon-sets: from-folder('local', './src/icons');
}

@theme {
  /** 定义变量适配element-plus  **/
  --color-primary: var(--el-color-primary);
  --color-success: var(--el-color-success);
  --color-warning: var(--el-color-warning);
  --color-danger: var(--el-color-danger);
  --color-info: var(--el-color-info);

  /** 定义边框颜色适配element-plus **/
  --color-border: var(--el-border-color);
  --color-border-light: var(--el-border-color-light);
  --color-border-lighter: var(--el-border-color-lighter);
  --color-border-extra-light: var(--el-border-color-extra-light);
  /** 定义填充颜色适配element-plus **/
  --color-fill--darker: var(--el-fill-color-darker);
  --color-fill-dark: var(--el-fill-color-dark);
  --color-fill: var(--el-fill-color);
  --color-fill-light: var(--el-fill-color-light);
  --color-fill-lighter: var(--el-fill-color-lighter);
  --color-fill-extra-light: var(--el-fill-color-extra-light);
  --color-fill-blank: var(--el-fill-color-blank);
  /** 定义文本颜色适配element-plus **/
  --color-t-primary: var(--el-text-color-primary);
  --color-t-regular: var(--el-text-color-regular);
  --color-t-secondary: var(--el-text-color-secondary);
  --color-t-placeholder: var(--el-text-color-placeholder);
  --color-t-disabled: var(--el-text-color-disabled);
  /** 定义背景颜色适配element-plus **/
  --color-bg: var(--el-bg-color);
  --color-bg-page: var(--el-bg-color-page);
  --color-bg-overlay: var(--el-bg-color-overlay);
}

@layer base {
  * {
    font-size: 16px;
    line-height: 1.2;
  }
}

/** 自定义样式 */
@layer components {
  .common-button {
    @apply w-fit px-4 py-2 text-sm font-normal text-white bg-blue-600 rounded-lg hover:bg-blue-700;
  }
}
