@import 'tailwindcss';
@plugin "@iconify/tailwind4" {
  prefix: 'icon';
  square: true;
  icon-sets: from-folder('local', './src/icons');
}

@theme {
  /** 定义变量适配element-plus  **/
  --color-primary: var(--el-color-primary);
  --color-success: var(--el-color-success);
  --color-warning: var(--el-color-warning);
  --color-danger: var(--el-color-danger);
  --color-info: var(--el-color-info);

  /** 定义边框颜色适配element-plus **/
  --color-border: var(--el-border-color);
  --color-border-light: var(--el-border-color-light);
  --color-border-lighter: var(--el-border-color-lighter);
  --color-border-extra-light: var(--el-border-color-extra-light);
  /** 定义填充颜色适配element-plus **/
  --color-fill--darker: var(--el-fill-color-darker);
  --color-fill-dark: var(--el-fill-color-dark);
  --color-fill: var(--el-fill-color);
  --color-fill-light: var(--el-fill-color-light);
  --color-fill-lighter: var(--el-fill-color-lighter);
  --color-fill-extra-light: var(--el-fill-color-extra-light);
  --color-fill-blank: var(--el-fill-color-blank);
  /** 定义文本颜色适配element-plus **/
  --color-t-primary: var(--el-text-color-primary);
  --color-t-regular: var(--el-text-color-regular);
  --color-t-secondary: var(--el-text-color-secondary);
  --color-t-placeholder: var(--el-text-color-placeholder);
  --color-t-disabled: var(--el-text-color-disabled);
  /** 定义背景颜色适配element-plus **/
  --color-bg: var(--el-bg-color);
  --color-page: var(--el-bg-color-page);
  --color-overlay: var(--el-bg-color-overlay);
  /** 定义阴影适配element-plus **/
  --shadow-md: var(--el-box-shadow);
  --shadow-lg: var(--el-box-shadow-light);
  --shadow-xl: var(--el-box-shadow-lighter);
  --shadow-dark: var(--el-box-shadow-dark);
  /** 定义圆角适配element-plus **/
  --radius-base: var(--el-border-radius-base);
  --radius-small: var(--el-border-radius-small);
  --radius-round: var(--el-border-radius-round);
}

@layer base {
}

/** 自定义样式 */
@layer components {
}

@layer utilities {
  /** 定义背景颜色 */
  .c-bg-page {
    background: var(--color-page);
  }
  /** 定义通用主要文字样式 */
  .text-main {
    @apply text-base font-bold text-t-primary;
  }
  /** 定义通用次要文字样式 */
  .text-secondary {
    @apply text-sm font-normal text-t-regular;
  }
  /** 定义通用描述文字样式 */
  .text-desc {
    @apply text-xs font-normal text-t-secondary;
  }
}
